events {
    worker_connections 1024;
}

http {
    upstream backend {
        {% for host in groups['wiki_media'] %}
        server {{ hostvars[host]['ansible_host'] }}:80 max_fails=3 fail_timeout=10s;
        {% endfor %}
    }

    server {
        listen 3000;
        location / {
            proxy_pass http://backend;
            proxy_next_upstream error timeout http_500 http_502 http_503 http_504;
            proxy_connect_timeout 2s;
            proxy_read_timeout 5s;
        }
    }
}
